<p>Nome<%= f.text_field :name %></p>
<p>E-mail<%= f.text_field :email %></p>  
<p>Login<%= f.text_field :login %></p>
<p>Senha<%= f.password_field :password %></p>
<p>Confirmação de senha <%= f.password_field :password_confirmation %> </p>
