<%= link_to "Novo Destino", new_destino_path, :class => :new %>

<div id='box_search'>
	<h4>Procurar Destinos</h4>
	<%= form_tag "/destinos/#{@filter}", :method => :get %>
		<%= text_field_tag :busca, @busca, :title => 'Digite qualquer parte do nome do destino' %><br/>
		<%= submit_tag "Buscar", :name => "" %>
  </form>
</div>

<% if @destinos.empty? %>
  <i>Nenhum destino encontrado.</i>
<% else %>
<h4>Resultado da Busca</h4>
	<% for destino in @destinos %>
	  <%= destino.nome %>
	  <span class='link_edit'><%= link_to "editar", edit_destino_path(destino), :class => :edit %>
	  <span class='link_delete'><%= link_to "excluir", {:action => :destroy, :id => destino.id}, :confirm => 'Tem certeza de que deseja excluir o destino?', :method => :delete , :class => :destroy%>
	  <br/>
	<% end %>
<% end %>


<%= flash[:message] %>

<script>
jQuery('#busca').bt({
  trigger: ['focus', 'blur'],
  positions: ['right'],
  fill: '#183048',
  cssStyles: {color: 'white', fontWeight: 'bold', width: 'auto'}
});
</script>